@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer base {
  h2 {
    @apply text-lg font-semibold mb-3
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: theme(colors.opaclight);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dark ::-webkit-scrollbar-track {
  background: theme(colors.opacdark);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.select-none {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

/* Cards scrollbar */
.hide-scrollbar ::-webkit-scrollbar-track {
  background: theme(colors.light);
}


.hide-scrollbar ::-webkit-scrollbar-thumb {
  background: theme(colors.opaclight);
}


.hide-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: theme(colors.opacdark);
}

.dark .hide-scrollbar ::-webkit-scrollbar-track {
  background: theme(colors.dark);
}

.dark .hide-scrollbar ::-webkit-scrollbar-thumb {
  background: theme(colors.opacdark);
}

.dark .hide-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: theme(colors.opaclight)
}