@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #acb4b6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dark ::-webkit-scrollbar-track {
  background: #46454a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.no-scrollbar ::-webkit-scrollbar-track {
  background: #CEDADA;
}

/* Handle */
.no-scrollbar ::-webkit-scrollbar-thumb {
  background: #CEDADA;
}

/* Handle on hover */
.no-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #CEDADA;
}

.dark .no-scrollbar ::-webkit-scrollbar-track {
  background: #241F26;
}

/* Handle */
.dark .no-scrollbar ::-webkit-scrollbar-thumb {
  background: #241F26;
}

/* Handle on hover */
.dark .no-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: #241F26;
}